nginx-prometheus-exporter:
    image: nginx/nginx-prometheus-exporter:1.4.0
    ports:
      - "9113:9113"
    command:
{% for host in groups['dev_web'] %}
      - "--nginx.scrape-uri=http://{{ hostvars[host]['public_ip_address }}:80/stub_status"
{% endfor %}